body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.head {
    display: flex;
}

.head-divParent {
    padding-left: 10%;
    padding-top: 10%;
}

span {
    color: orange;
}

.head .head-div1 h1 {
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: dimgray;
}

.head .head-div1 p {
    width: 85%;
    color: gray;
}

.div-a-btn {
    padding-top: 5%;
}

.a-btn {
    border: 1px solid orange;
    background-image: linear-gradient(orange, tomato);
    text-decoration: none;
    color: white;
    padding: 15px 35px;
    border-radius: 25px;
    font-size: 13px;
}

.head-div1-img {
    padding-right: 12%;
}

.head-div1-img img {
    width: 550px;
}

.person {
    height: 400px;
}

.about-me {
    display: flex;
    padding-left: 10%;
    padding-top: 5%;
    background-image: url("images/7.png");
    background-repeat: no-repeat;

}

.about-me .about-me-div p {
    width: 60%;
    font-size: 14px;
}

.about-me .about-me-div h1 {
    color: dimgray;
    font-size: 30px;
}

.about-me-div {
    padding-left: 20%;
    padding-top: 5%;
}

.about-me-div-img {
    padding-left: 5%;
}

.a2-btn {
    border: 1px solid orange;
    background-image: linear-gradient(orange, tomato);
    text-decoration: none;
    color: white;
    padding: 15px 35px;
    border-radius: 25px;
    font-size: 13px;
}

.div-a2-btn {
    padding-top: 10%;
}

.receipes {
    padding-top: 5%;
    text-align: center;
}


.receipes h1 {
    font-size: 30px;
    color: dimgray;
}

.receipes p {
    width: 40%;
    text-align: center;
    padding-left: 30%;
    font-size: 14px;
    color: gray;
}

.receipe-title {
    display: flex;
    padding-left: 15%;
    padding-top: 5%;
}

.receipe-title .receipe-title-div img {
    height: 250px;
    width: 400px;
}

.receipe-title .receipe-title-div p {
    width: 100%;
    font-size: 14px;
    color: gray;
}

.div1 {
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(226, 215, 215, 0.2), 0 6px 20px 0 rgba(209, 198, 198, 0.19);
    padding: 20px 20px 20px 20px;
    border: 1px solid rgba(226, 215, 215, 0.6);
    border-radius: 25px;
}

.div2 {
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(226, 215, 215, 0.2), 0 6px 20px 0 rgba(209, 198, 198, 0.19);
    padding: 20px 20px 20px 20px;
    border: 1px solid rgba(226, 215, 215, 0.6);
    margin-left: 50px;
    border-radius: 25px;
}

.numbers {
    display: flex;
    padding-left: 10%;
    padding-top: 5%;
    border: 1px solid rgba(226, 215, 215, 0.6);
    box-shadow: 0 4px 8px 0 rgba(226, 215, 215, 0.2), 0 6px 20px 0 rgba(209, 198, 198, 0.19);
    border-radius: 25px;
    width: 790px;
    margin-top: 5%;
    margin-left: 200px;
}

.numbers .numbers-div {
    padding: 0 50px;
}

.numbers .numbers-div h1 {
    font-weight: 900;
    font-size: 35px;
    margin-bottom: 0;
}

.numbers .numbers-div p {
    font-size: 14px;
    color: gray;
}
.footer{
    background-color:black;
    margin-top:7%;
    

}
.sp1{
    color:orange;
}
.sp {
    color: dimgray;
}
.footer h2{
    text-align: center;
    padding: 25px 0px 15px 0px;
}
.footer p{
    color:gray;
    font-size: 12px;
    text-align: center;
    padding-bottom: 8%;
}